<div class="row text-center">
<% if @users.exists? %>
  <div class="col-sm-12">
    <table class="table table-stripe">
      <thead>
        <tr>
          <th class="text-right">イメージ画像</th>
          <th>名前</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% users.each do |user| %>
          <tr>
            <td class="align-middle text-right"><%= attachment_image_tag user, :profile_image, :fill, 70, 70, fallback: "20200503_noimage.jpg", size: "70x70" %></td>
            <td class="align-middle">
              <%= link_to user_path(user.id) do %>
                <%= user.name %>
              <% end %>
            </td>
            <td class="align-middle">フォロー数: <%= user.followings.count %></td>
            <td class="align-middle">フォロワー数: <%= user.followers.count %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<% else %>
<div class="row text-center">
  <div class="col-sm-12">
    <h5><i class="fas fa-exclamation-circle"></i>ユーザーはいません<i class="fas fa-exclamation-circle"></i></h5>
  </div>
</div>
<% end %>