<!--ユーザー詳細ページ-->
<div class="container">
  <div class="row text-center mb-4">
    <div class="col-sm-12">
      <h4 class="profile-name"><%= @user.name %>さんのプロフィール</h4>
    </div>
  </div>

  <!--プロフィール編集・フォロー機能-->
  <div class="row text-left">
    <div class="col-sm-3 offset-sm-2">
      <strong>プロフィール画像</strong>
      <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, fallback: "20200503_noimage.jpg", size: "100x100" %>
    </div>
    <% if user_signed_in? %>
    <div class="col-sm-2 my-auto">
      <% if @user == current_user %>
        <%= link_to "", edit_user_path(@user), class: 'fas fa-user-cog btn btn-outline-dark col-sm-12' %>
      <% end %>
      <% unless @user == current_user %>
        <% if current_user.following?(@user) %>
          <%= link_to "フォローを外す", user_relationships_path(@user.id), method: :delete, class: 'btn btn-success' %>
        <% else %>
          <%= link_to "フォローする", user_relationships_path(@user.id), method: :post, class: 'btn btn-success' %>
        <% end %>
      <% end %>
    </div>
    <% end %>

    <!--フォローフォロワー数-->
    <div class="relation col-sm-5">
      <div class="friend">
        <%= link_to user_followings_path(@user) do %>
        <label><i class="far fa-handshake"></i> フォロー</label>
          <%= @user.followings.count %>
          人
        <% end %>
      </div>
      <div class="friend">
        <%= link_to user_followers_path(@user) do %>
        <label><i class="fas fa-handshake"></i> フォロワー</label>
          <%= @user.followers.count %>
          人
        <% end %>
      </div>
    </div>
  </div>

  <!--ユーザーの投稿-->
  <div class="row text-center mt-5 mb-4">
    <div class="col-sm-12">
      <h4 class="profile-name"><%= @user.name %>さんの投稿記事</h4>
    </div>
  </div>
  <% if @reviews.exists? %>
  <div class="row text-center">
    <% @reviews.each do |review| %>
      <div class="men col-sm-4 mb-4 py-3">
        <%= link_to review_path(review.id) do %>
          <%= attachment_image_tag review, :image, :fill, 250, 150, fallback: "22047646_s.jpg", size: "250x150" %>
          <p class="shop">店名：<%= review.shop_name %></p>
        <% end %>
        <i class="far fa-comment-dots"></i>
        <%= link_to "#{review.review_comments.count} コメント", review_path(review.id) %>
        <div>
        <% review.tags.each do |tag| %>
        <i class="far fa-bookmark"></i>
          <%= link_to tag_reviews_path(tag.id) do %>
            <%= tag.tag_name %>
          <% end %>
        <% end %>
      </div>
      </div>
    <% end %>
  </div>
  <% else %>
  <div class="row text-center">
    <div class="col-sm-12">
      <h5><i class="fas fa-exclamation-circle"></i>投稿レビューはありません<i class="fas fa-exclamation-circle"></i></h5>
    </div>
  </div>
  <% end %>

  <!--ページャ機能-->
  <%= paginate @reviews %>
</div>