<!--イメージマップ-->
<div class="container">
  <div class="row mb-4 text-center">
    <div class="col-sm-12">
      <h4>地域を選択してください</h>
    </div>
  </div>

  <div id="map1"><%= image_tag "22043060.jpg", usemap: "#ImageMap" %>
    <map name="ImageMap">
      <area shape="rect" coords="572,36,806,169" href="<%= reviews_area_path(id: 0) %>" alt="北海道地方" />
      <area shape="rect" coords="567,181,651,330" href="<%= reviews_area_path(id: 1) %>" alt="東北地方" />
      <area shape="rect" coords="537,333,623,395" href="<%= reviews_area_path(id: 2) %>" alt="関東地方" />
      <area shape="rect" coords="445,318,532,404" href="<%= reviews_area_path(id: 3) %>" alt="中部地方" />
      <area shape="rect" coords="374,372,445,445" href="<%= reviews_area_path(id: 4) %>" alt="関西地方" />
      <area shape="rect" coords="231,376,367,421" href="<%= reviews_area_path(id: 5) %>" alt="中国地方" />
      <area shape="rect" coords="291,421,374,467" href="<%= reviews_area_path(id: 6) %>" alt="四国地方" />
      <area shape="rect" coords="184,431,282,524" href="<%= reviews_area_path(id: 7) %>" alt="九州地方" />
      <area shape="rect" coords="666,453,758,543" href="<%= reviews_area_path(id: 7) %>" alt="九州地方" />
    </map>
  </div>
</div>

<script>
 $(function() {
  $('img[usemap]').rwdImageMaps();
 })
</script>

