<div class="container">
  <!--レビュー編集機能-->
  <div class="row mb-4 text-center">
    <div class="col-sm-12">
      <h4>レビュー編集</h>
    </div>
  </div>
  
  <!--フラッシュメッセージ-->
  <div class="row text-center">
    <div class="col-sm-12">
      <% if @review.errors.any? %>
        <p><%= @review.errors.count %>件のエラーが発生しました</p>
        <p>
          <% @review.errors.full_messages.each do |message| %>
            <%= message %>
          <% end %>
        </p>
      <% end %>
    </div>
  </div>
  
  <!--編集フォーム-->
  <%= render 'reviews/form', review: @review %>
  
  <script>
    $('#evaluate_stars').raty({
      starOn: "<%= asset_path('star-on.png') %>",
      starOff: "<%= asset_path('star-off.png') %>",
      starHalf: "<%= asset_path('star-half.png') %>",
      scoreName: 'review[evaluation]'
    });
  </script>
</div>