<!--レビュー詳細-->
<div class="container">
  <div class="row mb-4">
    <div class="col-sm-5 text-center">
      <%= attachment_image_tag @review, :image, :fill, 300, 200, fallback: "22047646_s.jpg", size: "300x200" %>
      <p class="text">店名：<%= @review.shop_name %></p>
      <p>-- レビュー --<%= simple_format(h(@review.caption)) %></p>
      <p>ユーザーネーム：<%= @review.user.name %></p>
      <p>店舗地域：<%= @review.area %></p>
      <div>評価</div>
      <p class="review-evaluation" data-score="<%= @review.evaluation %>"></p>
      <p>投稿日時：<%= @review.created_at.strftime('%Y/%m/%d') %></p>
      <p>
        <% if @review.user == current_user %>
          <%= link_to "編集", edit_review_path(@review), class:'btn btn-primary' %>
          <%= link_to "削除", review_path(@review), method: :delete, class:'btn btn-danger' %>
        <% end %>
      </p>

      <!--いいね機能-->
      <div class="favorite_button_<%= @review.id %>">
        <%= render 'favorites/favorite', review: @review %>
      </div>
    </div>

    <!--レビューへのコメント機能-->
    <div class="col-sm-7">
      <i class="far fa-comment-dots"></i>
      コメント件数：<%= @review.review_comments.count %>件
      <% @review.review_comments.each do |review_comment| %>
        <p><%= simple_format(h(review_comment.comment)) %></p>
        <p>
          <%= review_comment.user.name %>
          <%= attachment_image_tag review_comment.user, :profile_image, :fill, 40, 40, fallback: "20200503_noimage.jpg", size: "40x40" %>
          <%= review_comment.created_at.strftime('%Y/%m/%d') %>
          <!--コメント削除機能-->
          <% if review_comment.user == current_user %>
            <%= link_to "削除", review_review_comment_path(review_comment.review, review_comment), method: :delete, class:'btn btn-danger' %>
          <% end %>
        </p>
      <% end %>
      
      <!--コメント投稿フォーム-->
      <%= form_with(model:[@review, @review_comment], local: true) do |f| %>
        <%= f.text_area :comment, size: "60x5", placeholder: "コメントをここに書いてください" %>
        <p class="text-center">
          <%= f.submit "書き込む", class: 'btn btn-success col-sm-2' %>
        </p>
      <% end %>
    </div>

    <script>
      $('.review-evaluation').raty({
        readOnly: true,
        score: function() {
          return $(this).attr('data-score');
        },
        path: '/assets/'
      });
    </script>
  </div>
</div>