<!--レビュー詳細-->
<div class="container">
  <div class="row mb-4">
    <div class="font col-sm-5 text-center">
      <%= attachment_image_tag @review, :image, :fill, 300, 200, fallback: "22047646_s.jpg", size: "300x200" %>
      <p class="shop">店名：<%= @review.shop_name %></p>
      <div>評価</div>
      <p class="review-evaluation" data-score="<%= @review.evaluation %>"></p>
      <p class="text-body">レビュー<%= simple_format(h(@review.caption)) %></p>
      <p><i class="fas fa-map-marker-alt"></i>:<%= @review.area %></p>
      <%= link_to user_path(@review.user.id) do %>
      <p><i class="fas fa-user-edit"></i>:<%= @review.user.name %></p>
      <% end %>
      
      <!--いいね機能-->
      <% if user_signed_in? %>
      <div class="favorite_button_<%= @review.id %>">
        <%= render 'favorites/favorite', review: @review %>
      </div>
      <% end %>
      <p class="time"><i class="fas fa-clock"></i>:<%= @review.created_at.strftime('%Y/%m/%d') %></p>
      
      <!--編集・削除ボタン-->
      <% if user_signed_in? %>
        <% if @review.user == current_user %>
          <%= link_to "編集", edit_review_path(@review), class:'btn btn-success' %>
          <%= link_to "削除", review_path(@review), method: :delete, class:'btn btn-danger' %>
        <% end %>
      <% end %>
    </div>
    
    <!--レビューへのコメント一覧-->
    <div class="font col-sm-7">
      <i class="far fa-comment-dots"></i>
      コメント件数：<%= @review.review_comments.count %>件
      <% @review.review_comments.each do |review_comment| %>
        <p class="comment"<%= simple_format(h(review_comment.comment)) %></p>
        <p>
          <%= attachment_image_tag review_comment.user, :profile_image, :fill, 40, 40, fallback: "20200503_noimage.jpg", size: "40x40" %>
          <%= review_comment.user.name %>
          <i class="time"><%= review_comment.created_at.strftime('%Y/%m/%d %H:%M') %></i>
          <!--コメント削除機能-->
          <% if review_comment.user == current_user %>
            <%= link_to "削除", review_review_comment_path(review_comment.review, review_comment), method: :delete, class:'btn btn-danger' %>
          <% end %>
        </p>
      <% end %>

      <!--コメント投稿フォーム-->
      <% if user_signed_in? %>
        <%= form_with(model:[@review, @review_comment], local: true) do |f| %>
          <%= f.text_area :comment, size: "60x5", placeholder: "コメントをここに書いてください" %>
          <p class="text-center">
            <%= f.submit "書き込む", class: 'btn btn-success col-sm-2' %>
          </p>
        <% end %>
      <% end %>
    </div>

    <script>
    $('.review-evaluation').empty();
      $('.review-evaluation').raty({
        readOnly: true,
        score: function() {
          return $(this).attr('data-score');
        },
        path: '/assets/'
      });
    </script>
  </div>
</div>