<!DOCTYPE html>
<html>
  <head>
    <title>Mens</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!--ヘッダー-->
  　<header class="border">
      <div class="container">
        <% if user_signed_in? %>
          <li>
            <%= link_to 'マイページ', user_path(current_user.id) %>
          </li>
          <li>
        　   <%= link_to "レビュー", reviews_path %>
      　   </li>
        　<li>
        　   <%= link_to "レビュー投稿", new_review_path %>
      　   </li>
          <li>
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
          </li>
        <% else %>
          <li>
            <%= link_to "新規登録", new_user_registration_path %>
          </li>
          <li>
            <%= link_to "ログイン", new_user_session_path %>
          </li>
        <% end %>
      </div>
      <div class="row">
        <div class="col-xs-6 col-xs-offset-3 text-center" style="margin-top: 25px;">
          <% if user_signed_in? %>
            <%= form_with url:search_path, method: :get, local: true do |f| %>
              <%= f.text_field 'search[value]' %>
              <%= f.select 'search[model]', options_for_select({ "ユーザー" => "user", "店名" => "review" }) %>
              <%= f.select 'search[how]', options_for_select({ "完全一致" => "match", "部分一致" => "partical" }) %>
              <%= f.submit :"検索" %>
            <% end %>
          <% end %>
        </div>
      </div>
    </header>

    <!--本文-->
    <main>
      <div class="mb-auto">
        <%= yield %>
      </div>
    </main>

    <!--フッター-->
    <footer class="border pt-1 pb-1">
      <div class="container mt-3">
        <div class="row">
          <div class="mx-auto">
            <p>麺が好き</p>
          </div>
        </div>
      </div>
    </footer>

  </body>
</html>
