<!DOCTYPE html>
<html>
  <head>
    <title>Mens</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!--ヘッダー-->
  　<header>
      <div class="container">
        <nav class="navbar navbar-expand-lg">
          <%= link_to root_path do %>
            <img src="/assets/logo.png" alt="" class="logo">
          <% end %>
          <div class="collapse navbar-collapse">
            <div class="navbar-nav ml-auto">
            <% if user_signed_in? %>
              <li class="category ml-4">
                <i class="far fa-compass"></i>
                <%= link_to '地域検索', home_map_path, class: 'text-dark' %>
              </li>
              <li class="category ml-4">
                <i class="far fa-user"></i>
                <%= link_to 'マイページ', user_path(current_user.id), class: 'text-dark' %>
              </li>
              <li class="category ml-4">
                <i class="far fa-comments"></i>
                <%= link_to "レビュー", reviews_path, class: 'text-dark' %>
                </li>
              <li class="category ml-4">
                <i class="fas fa-pen"></i>
                <%= link_to "レビュー投稿", new_review_path, class: 'text-dark' %>
              </li>
              <li class="category mx-4">
                <i class="fas fa-sign-out-alt"></i>
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'text-dark' %>
              </li>
            <% else %>
              <li class="category ml-4">
                <i class="far fa-compass"></i>
                <%= link_to '地域検索', home_map_path, class: 'text-dark' %>
              </li>
              <li class="category ml-4">
                <i class="far fa-comments"></i>
                <%= link_to "レビュー", reviews_path, class: 'text-dark' %>
              </li>
              <li class="category ml-4">
                <i class="fas fa-user-plus"></i>
                <%= link_to "新規登録", new_user_registration_path, class: 'text-dark' %>
              </li>
              <li class="category ml-4">
                <i class="fas fa-sign-in-alt"></i>
                <%= link_to "ログイン", new_user_session_path, class: 'text-dark' %>
              </li>
            <% end %>
              <div>
                <% if user_signed_in? %>
                  <%= form_with url:search_path, method: :get, local: true do |f| %>
                    <%= f.text_field 'search[value]', placeholder: "店名検索" %>
                    <%= button_tag :type => "submit", :name => nil,　class: "button is-info" do %>
                    <i class="fas fa-search"></i>
                    <% end %>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </nav>
        <div class="col-sm-9">
          <% if user_signed_in? %>
            <p>ようこそ、<%= current_user.name %>さん！</p>
          <% end %>
        </div>
      </div>
    </header>

    <!--本文-->
    <main>
      <div class="mb-auto py-2">
        <%= yield %>
      </div>
      
      <!--フラッシュメッセージのフェードアウト-->
      <script>
        $(function() {
          setTimeout("$('.flash').fadeOut('slow')", 2000);
        });
      </script>
      
      <!--星評価表示-->
      <script>
      $('.review-evaluation').empty();
        $('.review-evaluation').raty({
          readOnly: true,
          score: function() {
            return $(this).attr('data-score');
          },
          path: '/assets/'
        });
      </script>
    </main>
    
  </body>
</html>
